In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Street_Tree_List-2022-01-30_FILTERED_v0.csv")

In [3]:
df['Genus'] = df['qSpecies'].str.split().str[0]
df['ScientificName'] = df['qSpecies'].str.split().str[0:2].str.join(' ')
df['CommonName'] = df['qSpecies'].str.split('::').str[1].str.strip()

def process_value(row):
    row_str = str(row)
    parts = row_str.split('/') 
    if len(parts) > 2:  
        num_str = parts[2]  
        try:
            num = int(num_str)  
            if num > 24:
                return "19" + num_str
            else:
                return "20" + num_str
        except ValueError:
            return None  
    else:
        return None  

df['Year'] = df['PlotSize'].apply(process_value)

In [4]:
type(df["PlantDate"])

pandas.core.series.Series

In [5]:
df['Date'] = pd.to_datetime(df['PlantDate'])
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Year'] = df['Date'].dt.year.astype('Int64') 
df["Age"] = 2024-df['Year']

In [6]:
df

,TreeID,qLegalStatus,qSpecies,qAddress,SiteOrder,qSiteInfo,qCaretaker,PlantDate,DBH,PlotSize,Latitude,Longitude,Genus,ScientificName,CommonName,Year,Date,Age
0,200311,DPW Maintained,Liquidambar styraciflua 'Rotundiloba' :: Round...,300 Spear St,9.0,Sidewalk: Curb side : Yard,Private,NaN,5,NaN,37.789193,-122.390006,Liquidambar,Liquidambar styraciflua,Roundleaf sweetgum,<NA>,NaT,<NA>
1,10425,DPW Maintained,Schinus terebinthifolius :: Brazilian Pepper,1419 Haight St,2.0,Sidewalk: Curb side : Cutout,DPW,NaN,90,3x3,37.770094,-122.445693,Schinus,Schinus terebinthifolius,Brazilian Pepper,<NA>,NaT,<NA>
2,43163,DPW Maintained,Acacia melanoxylon :: Blackwood Acacia,222 Madison St,1.0,Sidewalk: Curb side : Cutout,Private,7/11/00 0:00,8,NaN,37.726036,-122.422690,Acacia,Acacia melanoxylon,Blackwood Acacia,2000,2000-07-11,24
3,188921,DPW Maintained,Callistemon citrinus :: Lemon Bottlebrush,2001 25th St,16.0,Sidewalk: Property side : Yard,Private,NaN,6,Width 8ft,37.751955,-122.399482,Callistemon,Callistemon citrinus,Lemon Bottlebrush,<NA>,NaT,<NA>
4,643,DPW Maintained,Ficus microcarpa :: Chinese Banyan,3224 24th St,1.0,Sidewalk: Curb side : Cutout,Private,NaN,18,3x3,37.752398,-122.416772,Ficus,Ficus microcarpa,Chinese Banyan,<NA>,NaT,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37113,141243,DPW Maintained,Magnolia grandiflora :: Southern Magnolia,31 COMMONWEALTH AVE,1.0,Sidewalk: Curb side : Yard,Private,NaN,10,Width 0ft,37.785434,-122.455909,Magnolia,Magnolia grandiflora,Southern Magnolia,<NA>,NaT,<NA>
37114,203553,DPW Maintained,Agonis flexuosa :: Peppermint Willow,259 Faxon Ave,1.0,Sidewalk: Curb side : Cutout,Private,NaN,2,Width 3ft,37.719278,-122.460296,Agonis,Agonis flexuosa,Peppermint Willow,<NA>,NaT,<NA>
37115,61778,DPW Maintained,Eriobotrya deflexa :: Bronze Loquat,2219 24th St,1.0,Sidewalk: Curb side : Cutout,Private,1/22/85 0:00,13,NaN,37.753203,-122.401882,Eriobotrya,Eriobotrya deflexa,Bronze Loquat,1985,1985-01-22,39
37116,190242,DPW Maintained,Ficus microcarpa nitida 'Green Gem' :: Indian ...,60 New Montgomery St,3.0,Sidewalk: Curb side : Pot,Private,NaN,2,Width 3ft,37.788459,-122.401854,Ficus,Ficus microcarpa,Indian Laurel Fig Tree 'Green Gem',<NA>,NaT,<NA>
37117,192307,DPW Maintained,Fraxinus spp :: Ash Spp,100 De Haro St,1.0,Sidewalk: Curb side : Cutout,Private,NaN,12,Width 4ft,37.767303,-122.401956,Fraxinus,Fraxinus spp,Ash Spp,<NA>,NaT,<NA>

In [7]:
tree_counts = df['CommonName'].value_counts()
print(tree_counts)

Sycamore: London Plane    2633
New Zealand Xmas Tree     1937
Brisbane Box              1727
Victorian Box             1669
Swamp Myrtle              1577
                          ...
Macadamia                    1
Crape myrtle species         1
Trumpet bush                 1
Coral Gum                    1
Bloodgood London Plane       1
Name: CommonName, Length: 404, dtype: int64

In [8]:
tree_counts = df['Age'].value_counts()
print(tree_counts)

 16    708
 29    454
 18    430
 26    429
 17    424
 9     418
 24    370
 8     355
 7     342
 6     285
 15    257
 27    257
 21    247
 19    244
 10    237
 22    237
 13    224
 32    213
 3     206
 4     205
 28    205
 34    193
 23    193
 25    188
 31    179
 5     179
 12    160
 11    159
 30    159
 14    153
 20    131
-48    104
 33     93
 39     67
 38     64
 35     63
 42     57
-49     51
 44     49
 40     46
 36     42
 37     39
 43     37
 41     36
 47     25
 50     24
 45     23
-32     23
 48     19
-45     14
 46     10
-46      4
 49      4
 2       2
Name: Age, dtype: Int64

In [9]:
tree_counts = df['Age'].value_counts()
print(tree_counts)

 16    708
 29    454
 18    430
 26    429
 17    424
 9     418
 24    370
 8     355
 7     342
 6     285
 15    257
 27    257
 21    247
 19    244
 10    237
 22    237
 13    224
 32    213
 3     206
 4     205
 28    205
 34    193
 23    193
 25    188
 31    179
 5     179
 12    160
 11    159
 30    159
 14    153
 20    131
-48    104
 33     93
 39     67
 38     64
 35     63
 42     57
-49     51
 44     49
 40     46
 36     42
 37     39
 43     37
 41     36
 47     25
 50     24
 45     23
-32     23
 48     19
-45     14
 46     10
-46      4
 49      4
 2       2
Name: Age, dtype: Int64

In [10]:
df_age = df.dropna(subset=['Age'])
df_age

,TreeID,qLegalStatus,qSpecies,qAddress,SiteOrder,qSiteInfo,qCaretaker,PlantDate,DBH,PlotSize,Latitude,Longitude,Genus,ScientificName,CommonName,Year,Date,Age
2,43163,DPW Maintained,Acacia melanoxylon :: Blackwood Acacia,222 Madison St,1.0,Sidewalk: Curb side : Cutout,Private,7/11/00 0:00,8,NaN,37.726036,-122.422690,Acacia,Acacia melanoxylon,Blackwood Acacia,2000,2000-07-11 00:00:00,24
10,94792,DPW Maintained,Maytenus boaria :: Mayten,2 Laurel St,4.0,Sidewalk: Curb side : Cutout,Private,11/8/10 0:00,13,NaN,37.790988,-122.450849,Maytenus,Maytenus boaria,Mayten,2010,2010-11-08 00:00:00,14
13,29149,DPW Maintained,Lophostemon confertus :: Brisbane Box,301X Jones St,1.0,Sidewalk: Curb side : Cutout,DPW,6/13/15 0:00,3,3x3,37.783950,-122.412686,Lophostemon,Lophostemon confertus,Brisbane Box,2015,2015-06-13 00:00:00,9
14,82688,DPW Maintained,Crataegus laevigata :: English Hawthorn,1875 38th Ave,1.0,Sidewalk: Curb side : Cutout,Private,6/30/08 0:00,2,3x3,37.751978,-122.496833,Crataegus,Crataegus laevigata,English Hawthorn,2008,2008-06-30 00:00:00,16
18,30326,DPW Maintained,Tristaniopsis laurina :: Swamp Myrtle,946 Capitol Ave,1.0,Sidewalk: Curb side : Cutout,Private,10/13/17 11:13,3,NaN,37.719069,-122.459124,Tristaniopsis,Tristaniopsis laurina,Swamp Myrtle,2017,2017-10-13 11:13:00,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37093,90144,DPW Maintained,Tristaniopsis laurina 'Elegant' :: Small-leaf ...,338 Balboa St,1.0,Sidewalk: Curb side : Cutout,DPW,2/11/08 0:00,3,3x3,37.777378,-122.462528,Tristaniopsis,Tristaniopsis laurina,Small-leaf Tristania 'Elegant',2008,2008-02-11 00:00:00,16
37099,38541,DPW Maintained,Magnolia grandiflora :: Southern Magnolia,1543 Jennings St,1.0,Sidewalk: Curb side : Cutout,Private,9/17/98 0:00,7,NaN,37.730299,-122.385654,Magnolia,Magnolia grandiflora,Southern Magnolia,1998,1998-09-17 00:00:00,26
37102,1457,DPW Maintained,Pittosporum undulatum :: Victorian Box,160 Arguello Blvd,1.0,Sidewalk: Curb side : Cutout,DPW,3/29/18 0:00,3,3X3,37.787257,-122.459200,Pittosporum,Pittosporum undulatum,Victorian Box,2018,2018-03-29 00:00:00,6
37111,54849,DPW Maintained,Prunus cerasifera :: Cherry Plum,2076 Grove St,1.0,Sidewalk: Curb side : Cutout,Private,4/3/89 0:00,8,NaN,37.774373,-122.450701,Prunus,Prunus cerasifera,Cherry Plum,1989,1989-04-03 00:00:00,35
37115,61778,DPW Maintained,Eriobotrya deflexa :: Bronze Loquat,2219 24th St,1.0,Sidewalk: Curb side : Cutout,Private,1/22/85 0:00,13,NaN,37.753203,-122.401882,Eriobotrya,Eriobotrya deflexa,Bronze Loquat,1985,1985-01-22 00:00:00,39

In [11]:
df_year_sum = df_age.groupby('Year').size().reset_index(name='count')
df_year_sum = df_year_sum.rename(columns={'Year': 'year'})
df_year_sum

    year  count
0   1974     24
1   1975      4
2   1976     19
3   1977     25
4   1978     10
5   1979     23
6   1980     49
7   1981     37
8   1982     57
9   1983     36
10  1984     46
11  1985     67
12  1986     64
13  1987     39
14  1988     42
15  1989     63
16  1990    193
17  1991     93
18  1992    213
19  1993    179
20  1994    159
21  1995    454
22  1996    205
23  1997    257
24  1998    429
25  1999    188
26  2000    370
27  2001    193
28  2002    237
29  2003    247
30  2004    131
31  2005    244
32  2006    430
33  2007    424
34  2008    708
35  2009    257
36  2010    153
37  2011    224
38  2012    160
39  2013    159
40  2014    237
41  2015    418
42  2016    355
43  2017    342
44  2018    285
45  2019    179
46  2020    205
47  2021    206
48  2022      2
49  2056     23
50  2069     14
51  2070      4
52  2072    104
53  2073     51

In [16]:
popular_trees = [
    "Sycamore: London Plane",
    "New Zealand Xmas Tree",
    "Brisbane Box",
    "Victorian Box",
    "Swamp Myrtle"
]

popular_df = df_age[df_age["CommonName"].isin(popular_trees)]
sorted_filtered_df = popular_df.sort_values(by="Year")
tree_counts = popular_df["CommonName"].value_counts()
tree_counts

Brisbane Box              742
Swamp Myrtle              713
Victorian Box             401
New Zealand Xmas Tree     376
Sycamore: London Plane    375
Name: CommonName, dtype: int64

In [24]:
filtered_df = df_age[df_age["CommonName"].isin(popular_trees)]
grouped_df = filtered_df.groupby(["CommonName", "Year"]).size().reset_index(name="count")
grouped_df = grouped_df.rename(columns={"CommonName": "species"})
grouped_df = grouped_df.rename(columns={"Year": "year"})
grouped_df

           species  year  count
0     Brisbane Box  1977      1
1     Brisbane Box  1980      1
2     Brisbane Box  1982      4
3     Brisbane Box  1983      2
4     Brisbane Box  1984      1
..             ...   ...    ...
220  Victorian Box  2056      9
221  Victorian Box  2069      1
222  Victorian Box  2070      1
223  Victorian Box  2072      9
224  Victorian Box  2073      2

[225 rows x 3 columns]

In [23]:
top_five_df = df[df["CommonName"].isin(popular_trees)]
top_five_df = df_age[df_age["CommonName"].isin(popular_trees)]
top_five_df

,TreeID,qLegalStatus,qSpecies,qAddress,SiteOrder,qSiteInfo,qCaretaker,PlantDate,DBH,PlotSize,Latitude,Longitude,Genus,ScientificName,CommonName,Year,Date,Age
13,29149,DPW Maintained,Lophostemon confertus :: Brisbane Box,301X Jones St,1.0,Sidewalk: Curb side : Cutout,DPW,6/13/15 0:00,3,3x3,37.783950,-122.412686,Lophostemon,Lophostemon confertus,Brisbane Box,2015,2015-06-13 00:00:00,9
18,30326,DPW Maintained,Tristaniopsis laurina :: Swamp Myrtle,946 Capitol Ave,1.0,Sidewalk: Curb side : Cutout,Private,10/13/17 11:13,3,NaN,37.719069,-122.459124,Tristaniopsis,Tristaniopsis laurina,Swamp Myrtle,2017,2017-10-13 11:13:00,7
70,26049,DPW Maintained,Tristaniopsis laurina :: Swamp Myrtle,136 Broad St,1.0,Sidewalk: Curb side : Cutout,Private,3/10/07 0:00,3,3X3,37.713261,-122.457390,Tristaniopsis,Tristaniopsis laurina,Swamp Myrtle,2007,2007-03-10 00:00:00,17
97,5922,Permitted Site,Lophostemon confertus :: Brisbane Box,1300X Eddy St,5.0,Sidewalk: Curb side : Cutout,Private,5/7/92 0:00,12,4X4,37.782062,-122.429608,Lophostemon,Lophostemon confertus,Brisbane Box,1992,1992-05-07 00:00:00,32
108,16957,DPW Maintained,Tristaniopsis laurina :: Swamp Myrtle,673 Oak St,2.0,Sidewalk: Curb side : Cutout,DPW,1/25/08 0:00,3,3X3,37.773985,-122.430128,Tristaniopsis,Tristaniopsis laurina,Swamp Myrtle,2008,2008-01-25 00:00:00,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37048,14048,DPW Maintained,Platanus x hispanica :: Sycamore: London Plane,1355 Market St,4.0,Sidewalk: Curb side : Cutout,DPW,9/26/89 0:00,8,4x4,37.776796,-122.416976,Platanus,Platanus x,Sycamore: London Plane,1989,1989-09-26 00:00:00,35
37059,24038,Permitted Site,Lophostemon confertus :: Brisbane Box,63 Westbrook Ct,1.0,Sidewalk: Curb side : Cutout,Private,2/15/90 0:00,6,3X4,37.734930,-122.382620,Lophostemon,Lophostemon confertus,Brisbane Box,1990,1990-02-15 00:00:00,34
37061,39470,DPW Maintained,Lophostemon confertus :: Brisbane Box,300 Clay St,6.0,Sidewalk: Curb side : Cutout,Private,12/28/98 0:00,7,NaN,37.795264,-122.399251,Lophostemon,Lophostemon confertus,Brisbane Box,1998,1998-12-28 00:00:00,26
37084,9897,DPW Maintained,Lophostemon confertus :: Brisbane Box,1800X Pine St,3.0,Sidewalk: Curb side : Cutout,DPW,1/31/17 11:04,3,3X3,37.788920,-122.426579,Lophostemon,Lophostemon confertus,Brisbane Box,2017,2017-01-31 11:04:00,7
37102,1457,DPW Maintained,Pittosporum undulatum :: Victorian Box,160 Arguello Blvd,1.0,Sidewalk: Curb side : Cutout,DPW,3/29/18 0:00,3,3X3,37.787257,-122.459200,Pittosporum,Pittosporum undulatum,Victorian Box,2018,2018-03-29 00:00:00,6

In [20]:
grouped_df.to_csv('popular_year.csv', )

In [25]:
top_five_df.to_csv('top_five.csv', )

In [ ]:
df.to_csv('year_sum.csv', )

In [ ]:
df.to_csv('street_tree_list_processed.csv', )

In [ ]:
df_age.to_csv('street_tree_list_withage.csv', )